* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    margin: 0 auto;
    width: 100%;
}

h1 {
    margin: 1rem;
    font-family: "Inter", "Arial", "Serif";
    font-size: 1.5rem;
    color: royalblue;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
    background-color: lightgrey;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: darkblue dashed;
    padding: 1rem;
    margin: 1rem;
}

legend {
    font-family: "Inter", "Arial", "Serif";
    font-size: 1.5rem;
    color: darkblue;
    padding: .5rem;
}

label,
input,
button,
select,
textarea {
    font-family: "Palatino-Linotype", "Arial", "Serif";
    font-size: 1.2rem;
    color: black;
    margin: .3rem;
}

button {
    margin: 1rem;
    background-color: darkblue;
    color: lightblue;
    border: none;
    font-size: 1.5rem;
    width: 200px;
    border-radius: 1rem;
    padding: .5rem;
    justify-self: center;
}

button:hover {
    background-color: rgb(80, 77, 77);
}

footer {
    margin: 1rem;
    font-family: "Inter", "Arial", "Serif";
    font-size: 1rem;
    color: rgb(80, 77, 77);
    text-align: center;
    border-top: 1px dashed royalblue;
}

.questions {
    display: grid;
    text-align: left;
    column-gap: 1rem;
    padding: .5rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .3rem;
    margin-bottom: .3rem;
}