h1, h2, h3, h4, h5, h6 {font-family: "Hanalei Fill", serif; }

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-background-color: darkblue;
    --border: rgb(219, 113, 205);
    --nav-text-color: skyblue;
    --aside-background-color: lightblue;
    --aside-text-color: black;
    --text-color: black;
    --main-background-color: white;
    --box-shadow-color: gray;
    --box-text-color: black;
}

nav {
    padding: 10px;
    color: var(--nav-text-color);
    background-color: var(--nav-background-color);
    border-top: 5px dotted var(--border);
    border-bottom: 5px dotted var(--border);
}


nav a {
    display: block;
    padding: 20px;
    color: var(--nav-text-color);
}

h1 {
    color: var(--nav-background-color);
    background-color: var(--main-background-color);
    font-family: 'rock_saltregular', 'Bradley Hand', cursive;
}

main img {
    float: right;
    margin-left: 15px;
    width: 150px;
    height: auto;
    border: 1px solid var(--text-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    color: var(--text-color);
    background-color: var(--main-background-color);
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 155px;
    right: 60px;
    color: lightslategray
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 15px auto;
}

aside p {
    margin-top: 2rem;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 5px dotted var(--border);
    padding: 1rem;
    color: var(--box-text-color);
    background-color: var(--aside-background-color);  
}
