* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-background-color: darkblue;
    --nav-border-bottom: goldenrod;
    --nav-text-color: skyblue;
    --aside-background-color: darkblue;
    --aside-text-color: skyblue;
    --aside-border-color: goldenrod;
    --footer-border-top: goldenrod;
    --text-color: black;
    --main-background-color: white;
    --box-shadow-color: gray;
    --box-text-color: skyblue;
}

nav {
    padding: 10px;
    color: var(--nav-text-color);
    background-color: var(--nav-background-color);
    border-top: 5px dotted var(--footer-border-top);
    border-bottom: 5px dotted var(--nav-border-bottom);
}


nav a {
    display: block;
    padding: 20px;
    color: var(--nav-text-color);
}

h1 {
    color: var(--nav-background-color);
    background-color: var(--main-background-color);
}

main img {
    float: right;
    margin-left: 15px;
    width: 150px;
    height: auto;
    border: 1px solid var(--text-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow-color);
}

p {
    padding: 0;
    color: var(--text-color);
}

main {
    max-width: 840px;
    color: var(--text-color);
    background-color: var(--main-background-color);
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 120px;
    right: 60px;
    color: lightslategray
}

aside img {
    width: 200;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 15px auto;
}

aside p {
    margin-top: 2rem;
    border-top: 5px dotted var(--footer-border-top);
    text-align: center;
    color: var(--text-color);
    background-color: var(--main-background-color);
}

/* Class Selectors */
.box p {
    margin: 1rem;
    border: 5px dotted var(--aside-border-color);
    padding: 1rem;
    color: var(--box-text-color); /*skyblue text inside box*/
    background-color: var(--aside-background-color);  
}